
.container{
  margin: 10px auto;
  padding: 10px;
  display: flex;
  width: 70%;
}
.topics .image{
  position: relative;
}
.topics .image .mobile-image{
  display: block;
}
.topics .selector{
  position: absolute;
  top: 0;
  margin: 20px;
  margin-top: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.selector .step1{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}
.step1 span{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
}
.step1 .selected{
  background-color: hsl(217, 100%, 97%);
  color: hsl(213, 96%, 18%)
}
.step1 .info-step{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.info-step h3{
  font-size: 13px;
  color: hsl(231, 11%, 63%);
  margin: 0;
}
.info-step h2{
  font-size: 18px;
  margin: 0;
  color: hsl(231, 100%, 99%);
}
.clicked {
  color: black;
  background-color: hsl(217, 100%, 97%);;
}

.info-details{
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.info-details .head h1{
  color: hsl(213, 96%, 18%);
}
.info-details .head h4{
  color: hsl(231, 11%, 63%);
}
.info-details form{
  margin-top: -50px;
  display: flex;
  flex-direction: column;
}
.info-details form label{
  color: hsl(213, 96%, 18%);
  font-weight: 500;
  margin-bottom: 10px;
}
.info-details form .input{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-details form input{
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 6px;
}

.info-details form input:focus{
  border-color:  hsl(243, 100%, 62%);
  outline: none;
}
.info-details form input::placeholder{
  font-size: 15px;
  color: hsl(213, 96%, 18%);
  font-weight: 500;
}
.info-details form input[type="text"]{
  font-size: 16px;
  color: hsl(213, 96%, 18%);
  font-weight: 500;
}
.info-details form .check{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.info-details form .check p{
  margin: 0 0 10px 0;
  color: hsl(354, 84%, 57%);
}
.info-details form .invalid-input {
  border-color: hsl(354, 84%, 57%);
}
.info-details .btn{
  position: relative;

}
.info-details button{
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  padding: 10px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  position: absolute;
  right: 0;
}
.info-details button:disabled {
  opacity: 0.7;
}

.info-details button:enabled {
  opacity: 1;
  cursor: pointer;
}

/* @media only screen and (max-width: 480px) {
  .container{
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .topics .image .mobile-image{
    display: block;
  }
  .topics .image .desktop-image{
    display: none;
  }
  .topics .selector{
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    flex-direction: row;
    text-align: center;
  }
  .selector .step1{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  .step1 span{
    width: 25px;
    height: 25px;
    font-size: 17px;
    margin-right: 15px;
  }
  .step1 .info-step{
    display: none;
  }

} */
